<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- 시스템 로그. 로그를 찍는 패턴은 아래와 같다. -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <!-- 로거이다. -->
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>